.grid-container {
    display: grid;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
    height: 800px;
    width: 800px;
    background-color: rgba(91, 133, 177, 0.151);
}

.grid-item {

    height: 100px;
    width: 100px;
    background-color: #5B84B1FF;
    border: 1px solid black;
    margin: 10px;
}

.A{
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3; */

    /* shorthand property */

    /* grid-row: 1/3;
    grid-column: 1/3; */

    /* another shorthand property */
    grid-area: 1/1/3/3;
}


