* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.screen {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: skyblue;
}
