/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  /* border: 2px solid black; */
}

.navbar-container div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  /* border: 2px solid red; */
}

.navbar-container div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */
}

.list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Orbitron";
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

ul li:hover {
  font-weight: 700;
  border-bottom: 4px solid rgb(0, 0, 0);
  font-size: 23px;
  cursor: pointer;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  /* border: 2px solid green; */
}

.search-icon {
  position: relative;
  left: 70px;
  cursor: pointer;
}

.nav-button {
  color: grey;
  background-color: #ffffff;
  border: 3px solid #000;
  font-size: 24px;
  border-radius: 20px;
  font-weight: 500;
  font-family: "Poppins";
  padding: 10px 53px;
  cursor: pointer;
}

/* navbar ends here */
/* hero section starts from here */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  /* border: 5px solid red; */
  position: relative;
}

.hero-container-right {
  height: 100%;
  width: 60%;
  /* border: 2px solid green; */
}

.square {
  display: inline-block;
  position: absolute;
  top: 390px;
  left: 320px;
  z-index: -1;
}

.star {
  position: absolute;
}

.globe {
  position: absolute;
  top: 20px;
  left: 1000px;
}

/* ----- */

.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero-heading {
  font-family: "Orbitron";
  font-size: 60px;
  position: relative;
  top: 50px;
  margin-top: 40px;
}

.hero-description {
  height: 90px;
  width: 647px;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 22px;
  font-family: "Poppins";
  color: rgb(117, 117, 117);
}

.button-email {
  color: rgb(70, 70, 70);
  background-color: #ffffff;
  border: 3px solid rgb(71, 71, 71);
  font-size: 24px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Orbitron";
  padding: 5px 20px;
  cursor: pointer;
  margin-right: 20px;
}

.button-join {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: 3px solid rgb(71, 71, 71);
  font-size: 24px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Orbitron";
  padding: 5px 20px;
  cursor: pointer;
}

.contact-heading {
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  color: grey;
  font-weight: 300;
  margin-bottom: 15px;
}

.icons > span {
  margin-left: 20px;
}

.star {
  position: absolute;
  top: 650px;
  left: 800px;
}

.star img {
  width: 50px;
}

.star + .star {
  position: absolute;
  top: 90px;
  left: 1580px;
}

.star + .star img {
  width: 60px;
}
