*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(230, 218, 231);
    height: 400px;
    width: 900px;

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    /* justify-content: space-evenly; */
    align-conten;

}

.item{
    height: 100px;
    width: 100px;
    background-color: rgb(209, 120, 165);
    text-align: center;
    margin: 10px;
}

