* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #0f0f10;
  font-family: "Poppins", sans-serif;
}

.btn {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 7rem;
  border-radius: 1rem;
  background-color: #1e1e21;
  border: none;
}

.header-container {
  width: 100%;
  height: 200px;
  /* border: 2px solid rgb(255, 255, 255); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.beat-logo {
  position: relative;
  left: 30rem;
}

.beat-logo img {
  width: 3.8rem;
}
.header-container ul {
  /* border: 2px solid #fff; */
  width: 30%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 23rem;
  margin-left: 20rem;
}

.header-container ul li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

/* background logo there */

.background-logo {
  width: 100%;
  height: 200px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: end;
}

.background-logo .bg-img {
  height: 100%;
  width: 45%;
  /* border: 2px solid yellow; */
}

.bg-actual-img img {
  width: 55rem;
}

/* Headphone sections form here */

.headphone-container {
  width: 100%;
  height: 550px;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-left {
  width: 40%;
  height: 100%;
  /* border: 2px solid green; */
}

.head-left {
  position: absolute;
  top: -1rem;
}

.head-left img {
  width: 35rem;
}

.head-right {
  width: 40%;
  height: 100%;
  /* border: 2px solid rgb(255, 0, 0); */
  position: relative;
  left: 40rem;
}

.head-right h1 {
  font-size: 10rem;
  color: #fff;
  font-weight: 600;
}

.head-right h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  margin: 3rem 0rem;
}

.head-right p {
  color: #fff;
  font-size: 2rem;
  color: #bdc0c2;
  width: 68%;
  line-height: 4rem;
}

.btn-flex .btn-two {
  font-weight: 900;
  font-size: 3rem;
}

.btn-flex .btn-one {
  margin: 0rem 1rem;
}

.btn-flex .btn-img {
  position: relative;
  bottom: -0.3rem;
  right: 1rem;
}

.btn-flex img {
  width: 2.5rem;
}
