* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ----HEADER CSS--- */
.header-container {
  width: 100%;
  background-color: #111010;
}

.navbar-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-category ul li {
  display: inline;
}

.nav-category ul li a {
  text-decoration: none;
  color: #888787;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0rem 1rem;
}

.nav-login-btn {
  color: #ffffff;
  padding: 1.5rem 4rem;
  background-color: #0184fc;
  border: none;
  border-radius: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/* ----HOME CONTAINER---- */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  background-color: #111010;
  /* border: 2px solid red; */
}

.home-left > div {
  margin-bottom: 5rem;
}

.home-left {
  width: 35%;
  height: 700px;
  /* border: 2px solid red; */
}

.home-heading p {
  font-size: 7rem;
  font-weight: 600;
  color: #ffffff;
}

.home-heading p span {
  color: #0184fc;
  font-style: italic;
  font-weight: 700;
}

.home-sub-heading {
  color: #595858;
  font-size: 2rem;
  width: 55rem;
}

.home-btn-one {
  background-color: #0184fc;
  color: #ffffff;
  padding: 2rem 5rem;
  border-radius: 5rem;
  font-size: 2rem;
  border: none;
  font-weight: 500;
}

.home-btn-two {
  background-color: #111010;
  color: #ffffff;
  padding: 2rem 5rem;
  border-radius: 5rem;
  font-size: 2rem;
  border: none;
  font-weight: 500;
  border: 2px solid #ffffff;
}

.home-right {
  width: 45%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid purple; */
}

.home-right div img {
  width: 70rem;
}

/* ---SECOND SECTION--- */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  background-color: #1d1c1c;
}

.inner-logo-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner-logo-container img {
  width: 16rem;
}

/* Third section  */
.service-container {
  width: 100%;
}

.service-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.service-head-text {
  font-size: 5rem;
  font-weight: 500;
}

.service-sub-text {
  font-size: 2rem;
  color: #888787;
  width: 600px;
  text-align: center;
}

.square-banner-container {
  width: 100%;
  max-height: 500px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-one {
  width: 20%;
  height: 38rem;
  border: 2px solid #888787;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square-one img {
  width: 10rem;
}

.square-one .square-head {
  font-size: 2.5rem;
  font-weight: 600;
}

.square-one .square-sub {
  color: #595858;
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
}

.square-one > img,
p {
  margin-bottom: 3.5rem;
}

.bg-black {
  background-color: #111010;
  color: white;
  border: none;
  margin: 0rem 3rem 4rem 3rem;
}

.sub-clr {
  color: #595858;
}

/* Fourth Section----------------------------- */

/* Tablet Responsive */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    background-color: #111010;
    /* border: 2px solid red; */
  }

  .home-left > div {
    margin-bottom: 5rem;
  }

  .home-left {
    width: 45%;
    height: 700px;
    /* border: 2px solid red; */
  }

  .home-heading p {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
  }

  .home-heading p span {
    color: #0184fc;
    font-style: italic;
    font-weight: 700;
  }

  .home-sub-heading {
    color: #595858;
    font-size: 2rem;
    width: 55rem;
  }

  .home-btn-one {
    background-color: #0184fc;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    margin-right: 1rem;
  }

  .home-btn-two {
    background-color: #111010;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    border: 2px solid #ffffff;
  }

  .home-right {
    width: 45%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid purple; */
    margin-top: 20rem;
  }
  .home-right div img {
    width: 40rem;
  }

  /* second section */

  .inner-logo-container img:nth-child(2n) {
    display: none;
  }

  /* Third Section ---------------- */

  .service-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }

  .service-head-text {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .service-sub-text {
    font-size: 1.5rem;
    color: #888787;
    width: 600px;
    text-align: center;
  }

  .square-banner-container {
    margin-top: 20rem;

    width: 100%;
    max-height: 500px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .square-one {
    margin-bottom: 2rem;
    width: 50%;
    height: 38rem;
    border: 2px solid #888787;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile Responsive */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .header-container {
    width: 100%;
    background-color: #111010;
  }

  .navbar-container {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-category ul li a {
    text-decoration: none;
    color: #888787;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 1rem;
  }

  .nav-login-btn {
    color: #ffffff;
    padding: 1.5rem 4rem;
    background-color: #0184fc;
    border: none;
    border-radius: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  /* second */

  .home-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: 500px;
    background-color: #111010;
    /* border: 2px solid red; */
  }

  .home-left > div {
    margin-bottom: 5rem;
  }

  .home-left {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
  }

  .home-heading p {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
  }

  .home-heading p span {
    color: #0184fc;
    font-style: italic;
    font-weight: 700;
  }

  .home-sub-heading {
    text-align: center;
    color: #595858;
    font-size: 2rem;
    width: 55rem;
  }

  .home-btn-one {
    background-color: #0184fc;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    margin-right: 1rem;
  }

  .home-btn-two {
    background-color: #111010;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 2rem;
    border: none;
    font-weight: 500;
    border: 2px solid #ffffff;
  }
  .home-right {
    height: 0;
    width: 0;
  }
  .home-right div img {
    display: none;
  }

  /* second section */
  .inner-logo-container img:nth-child(2n) {
    display: none;
  }

  * Third Section ---------------- */ .service-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }

  .service-head-text {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .service-sub-text {
    font-size: 1.5rem;
    color: #888787;
    width: 600px;
    text-align: center;
  }

  .square-banner-container {
    margin-top: 20rem;

    width: 100%;
    max-height: 500px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .square-one {
    margin-bottom: 2rem;
    width: 50%;
    height: 38rem;
    border: 2px solid #888787;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
